@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
font-weight: bold;
    height: 100vh;
    display: flex;
    font-family: 'Noto Serif KR', serif;
    /*height: 50%;*/
    background-image: url("space/galaxy.jpg");
    /*background-color: #281c4a;*/
    background-size: cover;
    margin: auto;
    /*margin-right: auto;*/
    /*margin-bottom: auto;*/

    /*display: flex;*/
    flex-wrap: wrap;
    /*opacity: 0.5;*/
}

.memory-container {
    /*position: absolute;*/
    border-radius: 5px;
    z-index: 1;
    /*left: 10%;*/
    /*top: 10%;*/
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid grey;
    margin: auto;
    background-color: darkslateblue;
    /*background-image: url("space-2638126_1280.jpg");*/
    /*background-size: cover;*/
    /*opacity: 0.5;*/
    /*perspective: 1000px;*/
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
 .card-img {
     width: 100%;
     height: 100%;
     /*padding: 5px;*/
     /*position: absolute;*/
     border-radius: 5px;
     /*background: #000000;*/
 }

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.turnCard {
    transform: rotateY(180deg);
}

.match {
    background-image: url("white.png");
    opacity: 0;
    border-radius: 5px;
}

.back {
    background-image: url("back-image.png");
    background-size: cover;
    border-radius: 5px;
  /*opacity: 0;*/
    /*z-index: 1;*/
    padding: 74px;
}

div {
    margin: auto;
    font-size: 40px;
    color: white;
    display: flex;
}

.heart {
    display: inline-block;
    color: orangered;
    animation: pulse 1s infinite;
}
.star {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 250px;
    background-color: white;
    position: absolute;
    animation: star-h-movement 20s ease-in infinite;
}
.star:before {
    content: "✦	";
    font-size: 8px;
    position: absolute;
    border-radius: 50%;
    color: grey;
    left: 210px;
    bottom: 10px;
    animation: pulse 1s infinite;
}
.star:before {
    content: "✦	";
    font-size: 28px;
    position: absolute;
    left: 310px;
    bottom: 3px;
    animation: pulse 1s infinite;
}
.star:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    left: 150px;
    top: 100px;
}
.star:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    left: 150px;
    top: 150%;
}
.star:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    left: 110px;
    top: 100px;
}

.rocket-wrapper {
    width: 200px;
    height: 200px;
    /*bottom: 5%;*/
    /*margin: 0 auto;*/
    animation: rocket-rotate 4s ease-in-out infinite alternate;
}

.rocket {
    font-family: 'Noto Serif KR', serif;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    height: 75px;
    position: absolute;
   bottom: 300px;
    left: 0;
    border-radius: 20% 95% 95% 20%;
    border-top: solid 10px #b3b3cc;
    background-color: #ffffff;
    z-index: 100;
    transform: rotate(-25deg);
}
.window {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 320px;
    left: 35%;
    background: #281c4a;
    border:#a6a6a6 solid 5px;
    border-radius: 50%;
    z-index: 110;
}
.window:after {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    margin-top: 5px;
    margin-left: 4px;
    background: transparent;
    border-radius: 50%;
    border-top: solid 2px #a6a6a6;
}

.wings {
    position: absolute;
    height: 30px;
    width: 75px;
    bottom: 340px;
    left: -35px;
    background:  #800000;
    border-top-left-radius: 5%;
    border-top-right-radius: 80%;
    transform: rotate(-25deg);
}
.wings:after{
    content: "";
    position: absolute;
    height: 30px;
    width: 75px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 80%;
    margin-top: 90px;
    background:  #990000;
    /*transform: rotate(-25deg);*/
}
.moon {
    background-color: transparent;
    position: absolute;
    top: 30px;
    left: 600px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 20px 20px 0 0 #ffff99;
    opacity: 0.7;
}
.moon:before {
    content: "✦	";
    font-size: 28px;
    position: absolute;
    /*color: #ffffff;*/
    left: 710px;
    top: 700px;
    animation: pulse 1s infinite;
}

.moon:after {
    content: "✦	";
    font-size: 28px;
    position: absolute;
    right: 710px;
    bottom: 3px;
    animation: pulse 1s infinite;
}
.planet {
    background-color: white;*
opacity: 0.4;
    position: absolute;
    top: 50px;
    height: 750px;
    width: 750px;
    border-radius: 50%;
    animation: planet-h-movement 120s ease-out infinite;
}
.planet .spot1 {
    background-color: dimgrey;
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 100px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
.planet .spot2 {
    background-color: darkgrey;
    opacity: 1;
    left: 50%;
    top:100px;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.planet .spot3 {
    background-color: darkgrey;
    opacity: 1;
    position: absolute;
    top: 350px;
    left: 250px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.planet .spot4 {
    background-color: grey;
    opacity: 1;
    position: absolute;
    top: 375px;
    left: 100px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.planet .spot5 {
    background-color: gray;
    opacity: 1;
    position: absolute;
    top: 550px;
    left: 400px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.planet .spot6 {
    background-color: darkgrey;
    opacity: 1;
    position: absolute;
    top: 325px;
    left: 500px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

header h1{
    /*left: 15%;*/
    font-size: 80px;
    color: white;
    float: left;
    width: 700px;
    margin: 10px 10px 10px 100px;
    /*position: absolute;*/
    top: 25px;
    /*border: 2px red solid;*/
}
footer h2 {
    right: 15%;
    font-size: 50px;
    color: white;
    float: right;
    width: 300px;
    margin: 10px;
    position: absolute;
    top: 25px;
    /*border: 2px red solid;*/
}
.footer-container{
    position: absolute;
    bottom: 15px;
    left: 15px;
    /*right: 15px;*/
    width: 100%;
    height: 10%;
    /*border: 2px solid yellow;*/
}
/*.cosmic-container{*/
    /*position: absolute;*/
    /*border: 2px red solid;*/
/*}*/

@keyframes planet-h-movement {
    0% {margin-left: 100%;
        opacity: 0.4;
        transform: scale(0.1);
    }
    100% {
        margin-left: -100%;
        opacity: 0.1;
        transform: scale(2);
    }
}


@keyframes star-h-movement {
    0% {margin-left: 100%;
        opacity: 0.9;
        transform: scale(2);
    }
    100% {
        margin-left: -40%;
        opacity: 0;
        transform: scale(3);

    }
}
@keyframes rocket-rotate {
    0%{
        transform: rotate(6deg);
    }
    100%{
        transform: rotate(-6deg);
    }

}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@media (orientation: portrait) {  /*portrait: czyli wysokość większa niż szerokość */
    body {
        height: 50vh;
    }
    .memory-card{
        flex-basis: 15%;
        height: 10vh;
    }
}